* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #e8e8e8;
}
.navbar {
  max-width: 100%;
  background-color: #e2e2e2;
  padding: 15px 0;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

section {
  width: calc(100% / 2);
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.section {
  height: 290px;
}
section #title {
  padding: 4px 0;
  text-align: center;
}

#formTask {
  width: 95%;
  margin: auto;
  font-size: 18px;
}

#formTask label,
input,
textarea {
  display: block;
  /*padding: 4px;*/
}

#formTask input,
textarea {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px 4px;
  width: 95%;
}

input:focus,
textarea:focus {
  outline: thin solid #38b8d3;
  /*border: 1px solid white;*/
}

/*[>#forTask input:active {<]*/
/*[>border-color: green;<]*/
/*[>}<]*/
/*#formTask textarea:focus {*/
/*border: none;*/
/*}*/

#formTask button {
  padding: 6px 50px;
  /*justify-content: center;*/
  /*align-items: center;*/
  margin-top: 10px;
  margin-bottom: 10px;
  color: #090909;
  font-size: 18px;
  border-radius: 0.3em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 5px 1px #c5c5c5;
  cursor: pointer;
}

/*#submit:active {*/
/*color: #666;*/
/*box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;*/
/*}*/

.task {
  border: 1px solid #bac2de;
  border-radius: 3px;
  margin: 4px auto;
  padding: 4px;
  width: 90%;
  /*cursor: pointer;*/
}

.task p > #title_description {
  font-weight: 600;
  font-size: 18px;
}

.task a {
  text-decoration: none;
  color: red;
  cursor: pointer;
}
